@use 'variables';

section#about-section {
	background-color: var(--bg-sec-color);
	h2 {
		color: var(--brand-color-dark);
	}

	p {
		@apply quicksand-font text-2xl;
		line-height: 1.8em;
		color: var(--text-color-300);
	}

	p.subtitle {
		color: var(--brand-color-light);
	}
}
