@use 'variables';

section#contact-section {
	background-color: var(--bg-sec-color);
	h2 {
		color: var(--brand-color-dark);
	}

	p {
		@apply open-sans-font text-xl;
		line-height: 1.8em;
		color: var(--text-color-300);
	}

	h3 {
		@apply open-sans-font font-semibold text-xl;
		color: var(--brand-color-dark);
	}

	input,
	textarea {
		@apply rounded-md px-4 py-3 border border-transparent;
		background-color: var(--bg-input-color);
		transition: all 0.3s ease-in-out;
		color: var(--text-color-500);

		&:focus {
			@apply border;
			background-color: var(--bg-input-focus-color);
			border-color: var(--bg-input-border-color);
			outline: none;
		}
	}

	button {
		@apply quicksand-font px-8 py-3 rounded font-semibold;
		background: linear-gradient(180deg, #e18e60 0%, var(--brand-color-light) 3%, #9a491d 100%);
		box-shadow: 0px 3px 6px rgba(172, 92, 57, 0.13);
		color: var(--cream);
	}
}
