@use 'variables';

section#contact-section {
	background-color: var(--bg-sec-color);
	h2 {
		color: var(--brand-color-dark);
	}

	p {
		@apply open-sans-font;
		line-height: 1.8em;
		color: var(--text-color-300);
	}

	h3 {
		@apply open-sans-font font-semibold text-xl;
		color: var(--brand-color-dark);
	}

	input,
	textarea {
		@apply rounded-md px-4 py-3 border border-transparent;
		background-color: var(--bg-input-color);
		transition: all 0.3s ease-in-out;
		color: var(--text-color-500);

		&:focus {
			@apply border;
			background-color: var(--bg-input-focus-color);
			border-color: var(--bg-input-border-color);
			outline: none;
		}
		&:disabled {
			@apply cursor-not-allowed;
		}
	}

	button {
		@apply quicksand-font px-8 py-3 rounded font-semibold;
		background: linear-gradient(180deg, #e18e60 0%, var(--brand-color-light) 3%, #9a491d 100%);
		box-shadow: 0px 3px 6px rgba(172, 92, 57, 0.13);
		color: var(--cream);
	}

	button:disabled {
		@apply cursor-not-allowed;
	}

	#my-response-iframe {
		visibility: hidden;
		height: 1px;
	}

	// Responsive
	& {
		@apply py-24 lg:py-36 md:h-svh;
	}
	.container {
		@apply px-5 xl:px-0;
	}
	h2 {
		@apply text-3xl lg:text-4xl;
	}
	p {
		@apply text-lg md:text-xl;
	}
	.container > div {
		@apply flex-col lg:flex-row mt-12 lg:mt-24;
	}
	.img-wrapper {
		@apply hidden lg:flex;
	}

	form > div {
		@apply flex-col lg:flex-row;
	}
	form h3 {
		@apply mb-6 lg:mb-0;
	}
	form input {
		@apply w-full md:w-[48%];
	}
	.form-section-wrapper {
		@apply mt-10 md:mt-16;
	}

	form button {
		@apply mt-10 md:mt-12;
	}
}
