@use 'variables';

footer {
	background-color: var(--bg-color);

	p#brand-name {
		color: var(--text-color-300);
		font-size: 1.2rem;
	}
	p#brand-country {
		color: var(--text-color-300);
		font-size: 1.2rem;
	}

	ul {
		background-color: var(--bg-card-color);
	}

	a {
		color: var(--brand-color-dark);
		font-size: 1.2rem;
	}

	a img {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out;

		&:hover {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
		}
	}

	// Responsive
	.container {
		@apply px-5 lg:px-0;
	}
	.container > div {
		@apply flex-col md:flex-row md:space-x-6 space-y-6;
	}
	.brand {
		img {
			@apply hidden lg:block;
		}
		div {
			@apply text-center md:text-left;
		}
	}
	.social-links {
		@apply flex-[2] xl:flex-1;
		ul {
			@apply px-12 md:px-0 space-x-10 md:space-x-8 lg:space-x-12;
		}
	}
}
