@use 'variables';

footer {
	p#brand-name {
		color: variables.$text-dark-400;
		font-size: 1.2rem;
	}
	p#brand-country {
		color: variables.$text-dark-300;
		font-size: 1.2rem;
	}

	a {
		color: variables.$brand-dark;
		font-size: 1.2rem;
	}

	a img {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out;

		&:hover {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
		}
	}
}
