@use 'variables';

section#services-section {
	background: linear-gradient(var(--bg-services-color), var(--bg-services-color)), url('../assets/grid-light.png');
	background-repeat: repeat;
	background-size: 124px;

	h2 {
		color: var(--brand-color-dark);
	}

	.service-card {
		@apply rounded-lg shadow-md py-24 px-12 flex mb-12;
		background-color: var(--bg-card-color);

		h3 {
			@apply text-2xl font-semibold;
			color: var(--brand-color-dark);
		}

		p {
			@apply quicksand-font text-lg;
			line-height: 1.8em;
			color: var(--text-color-300);
		}

		p.subtitle {
			color: var(--brand-color-dark);
		}
	}
}
