@use 'variables';

section#services-section {
	background: linear-gradient(var(--bg-services-color), var(--bg-services-color)), url('../assets/grid-light.png');
	background-repeat: repeat;
	background-size: 124px;

	h2 {
		color: var(--brand-color-dark);
	}

	.service-card {
		@apply rounded-lg shadow-md  px-12 flex mb-12;
		background-color: var(--bg-card-color);

		h3 {
			@apply text-2xl font-semibold;
			color: var(--brand-color-dark);
		}

		p {
			@apply quicksand-font;
			line-height: 1.8em !important;
			color: var(--text-color-300);
		}

		p.subtitle {
			color: var(--brand-color-dark);
		}
	}

	// Responsive
	& {
		@apply py-24 lg:py-36;
	}
	.container {
		@apply px-5 xl:px-0;
	}
	h2 {
		@apply text-3xl lg:text-4xl;
	}
	.service-card {
		@apply flex-col lg:flex-row py-14 lg:py-24;

		img {
			@apply mb-12 lg:mb-0 w-[225px] lg:w-[250px];
		}

		p {
			@apply text-lg lg:text-xl;
		}
	}
}
