// Fonts
.open-sans-font {
	font-family: 'Open Sans', sans-serif;
}
.quicksand-font {
	font-family: 'Quicksand', sans-serif;
}
.lobster-font {
	font-family: 'Lobster', serif;
}

// Colors
$text-dark-500: #333;
$text-dark-400: #515151;
$text-dark-300: #595959;
$cream: #fce9e1;

$brand-dark: #d26232;
$brand-light: #f16313;
