// Fonts
.open-sans-font {
	font-family: 'Open Sans', sans-serif;
}
.quicksand-font {
	font-family: 'Quicksand', sans-serif;
}
.lobster-font {
	font-family: 'Lobster', serif;
}

// Colors
$text-dark-500: #333;
$cream: #fce9e1;

$brand-light: #d26232;
$brand-dark: #f16313;
